/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;


}

h1 {
    font-family: 'Oswald', sans-serif;
}


/* Header */
header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#cover-text h2 {
    color: #252525;
}

#cover-text h3 {
    color: white;

}

#cover-text {
    background-color: rgba(255, 229, 180, 0.7);
    font-size: 130%;
    position: absolute;
    top: 600px;
    width: 80%;
    min-height: 150px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;


    body {
        font-family: 'Open Sans', sans-serif;
    }

}



#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;


}

#menu>li {
    margin-bottom: 1em;
    ;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

header a {
    text-decoration: none;
    color: inherit;
}

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}



#logo {
    display: flex;
    align-items: center;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}


/* Main content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;

}

/* Hero section*/
#hero {
    height: 800px;
    width: 100%;
    background: url(../images/hero-image.jpeg)no-repeat center/cover;
}

/* Reasons section */

#reasons h2 {
    margin-top: 2%;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
    text-transform: uppercase;
    color: #A77904;
}

h3 {
    text-transform: uppercase;

}

#cover-text h2,
h3 {
    text-align: center;
}

#benefits-mental>div,
#benefits-physical>div {
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

#benefits p {
    padding: 0 20px;
}

#benefits hr {
    border-top: 1px solid #3a3a3a;
    margin: 10px 0;
}

#circle-cover-bg {
    background: url('../images/yoga.jpeg')no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#benefits-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#times {
    display: flex;
    flex-wrap: wrap;
}

#times div {
    flex-basis: 200px;
    flex-grow: 1;
    /* Creates a grid of meetup time divs over the background image */
    border: 2px solid white;
}

/* Morning Meditation Schedule*/

#morning-meditation {
    position: relative;
    width: 300px;
}

#morning-meditation .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/morning-meditation.png') no-repeat center/cover;
    opacity: 0.4;
}

#morning-meditation .content {
    padding: 10px;
    color: #fafafa;
    background-color: rgba(0, 0, 0, .9);
    text-align: center;
    height: 100%;
}

/* Evening Mindful Walk Schedule*/
#evening-mindful-walk {
    position: relative;
    width: 300px;
}

#evening-mindful-walk .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/evening-walk.webp') no-repeat center/cover;
    opacity: 0.4;
}

#evening-mindful-walk .content {
    padding: 10px;
    color: #fafafa;
    background-color: rgba(0, 0, 0, .9);
    text-align: center;
    height: 100%;
}


/* Sunrise Yoga Schedule*/

#sunrise-yoga {
    position: relative;
    width: 300px;
}

#sunrise-yoga .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/sunrise-yoga.jpeg') no-repeat center/cover;
    opacity: 0.4;
}

#sunrise-yoga .content {
    padding: 10px;
    color: #fafafa;
    background-color: rgba(0, 0, 0, .9);
    text-align: center;
    height: 100%;
}

/* Afternoon Yoga Retreat Schedule*/

#afternoon-yoga-retreat {
    position: relative;
    width: 300px;
}

#afternoon-yoga-retreat .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/afternoon-yoga-retreat.jpeg') no-repeat center/cover;
    opacity: 0.4;
}

#afternoon-yoga-retreat .content {
    padding: 10px;
    color: #fafafa;
    background-color: rgba(0, 0, 0, .8);
    text-align: center;
    height: 100%;
}

/* Beach Side yoga Schedule */
#beachside-yoga {
    position: relative;
    width: 300px;
}

#beachside-yoga .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/beachside-yoga.png') no-repeat center/cover;
    opacity: 0.4;
}

#beachside-yoga .content {

    padding: 10px;
    color: #fafafa;
    background-color: rgba(0, 0, 0, .9);
    text-align: center;
    height: 100%;

}

/* Mindfulness practices*/

#introduction,
#mindful-breathing,
#body-scan,
#mindful-walking,
#yoga,
#mindfulness-yoga {

    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #efe2c0;
    text-align: center;
    padding: 2%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 2%;
    margin-right: 2%
}

/* Heading styles */
#introduction h2,
#mindful-breathing h2,
#body-scan h2,
#mindful-walking h2,
#yoga h2,
#mindfulness-yoga h2 {
    font-size: 24px;
    color: #050505;
    margin-bottom: 5px;
}

/* Paragraph styles */
#introduction p,
#mindful-breathing p,
#body-scan p,
#mindful-walking p,
#yoga p,
#mindfulness-yoga p {
    font-size: 16px;
    color: #050505;

}

#mindful-breathing-techniques h3 {
    color: #050505;
}

#yoga h2,
h3 {
    color: #050505;
}


/* Mindfulness Techniques*/
#mindfulness {
    margin-top: 5%;
}

#yoga-tech,
#mindful-walking-tech,
#mindful-eating,
#body-scan-tech,
#breath-awarness-tech,
#mindful-eating-tech {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #efe2c0;
    text-align: center;
    padding: 2%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2%;
    margin-right: 2%
}

/* Heading styles */
#breath-awarness-tech h2,
#body-scan-tech h2,
#mindful-walking-tech h2,
#yoga-tech h2,
#mindful-eating-tech h2 {
    font-size: 24px;
    color: #050505;
    margin-bottom: 5px;
}

/* Paragraph styles */
#breath-awarness-tech p,
#body-scan-tech p,
#mindful-walking-tech p,
#mindful-eating-tech p,
#yoga-tech p {
    font-size: 16px;
    color: #050505;

}

/* Main content */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Video Responsive Frames */
.responsive-iframe {
    position: relative;
    width: 90%;
    height: 90%;
    padding-bottom: 0;
    padding-top: 0;

/* Sign Up Form */

#signup {
    background-image: url("../images/keel-beach.jpeg");
    padding: 20px 10% 0 10%;
    flex-grow: 1;
    margin-top: 0;
}

#signup-form {
    color: #000000;
    background-color: rgba(239, 226, 192, 1);
    padding: 30px;

}

#signup-form>h2 {
    color: #000000;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #000000;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #F3D4A8;
    color: #000000;
}

#morning-meditation h3,
#evening-mindful-walk h3,
#sunrise-yoga h3,
#afternoon-yoga-retreat h3,
#beachside-yoga h3 {
    color: white;
}


/* Footer */
footer {
    background-color: #FFE5B4;
}


#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}



/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 2rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }


    /* Main content */


    main {
        /* Push main content down to accommodate larger header */
        margin-top: 150px;

    }

    /* Reasons section */
    #benefits-physical,
    #benefits-mental {
        display: flex;
        flex-direction: column;
        width: 100%;


    }

    #benefits-physical>div,
    #benefits-mental>div {
        width: 85%;
    }

    #benefits-mental>div {
        text-align: end;
        align-self: flex-end;
    }

    /* Hero*/

    #cover-text {
        background-color: rgba(255, 229, 180, 0.7);
        font-size: 130%;
        position: absolute;
        top: 600px;
        width: 40%;
        min-height: 150px;
        padding-top: 20px;
        padding-left: 10px;
        padding-bottom: 20px;
    }

    /* Mindfulness Techniques*/


    #mindfulness {
        margin-top: 10%;
    }

    #yoga-tech,
    #mindful-walking-tech,
    #mindful-eating,
    #body-scan-tech,
    #breath-awarness-tech,
    #mindful-eating-tech {
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #efe2c0;
        text-align: center;
        padding: 2%;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 25%;
        margin-right: 25%
    }
    .responsive-iframe {
        position: relative;
        width: 50%;
        height: 50%;
        padding-bottom: 0;
        padding-top: 0;

    
        







    @media screen and (min-width: 1200px) {
        main {
            /* Push main content down to accommodate larger header */
            margin-top: 100px;

        }

        /* Reasons section */
        #benefits {
            display: flex;
            flex-direction: row;
        }

        #benefits>div {
            flex: 1;
        }

        #benefits-image {
            order: 0
        }

        #benefits-mental {
            order: 1;
        }

        #benefits-mental>div {
            align-self: flex-start;
        }

        #benefits-physical>div {
            align-self: flex-end;
        }

        /* Mindfulness Techniques*/
        #mindfulness {
            margin-top: 5%;
        }

        /* Hero*/

        #cover-text {
            background-color: rgba(255, 229, 180, 0.7);
            font-size: 130%;
            position: absolute;
            top: 600px;
            width: 40%;
            min-height: 150px;
            padding-top: 20px;
            padding-left: 10px;
            padding-bottom: 20px;
        }


        #yoga-tech,
        #mindful-walking-tech,
        #mindful-eating,
        #body-scan-tech,
        #breath-awarness-tech,
        #mindful-eating-tech {
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #efe2c0;
            text-align: center;
            padding: 2%;
            margin-top: 50px;
            margin-bottom: 50px;
            margin-left: 30%;
            margin-right: 30%
        }

        .responsive-iframe {
            position: relative;
            width: 50%;
            height: 50%;
            padding-bottom: 0;
            padding-top: 0;  
        }

        #signup {
            background-image: url("../images/keel-beach.jpeg");
            padding: 30px 30% 0 30%;
            flex-grow: 1;
            margin-top: 0;
        }

    }